<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">


<th:block layout:fragment="css"> <!--각 페이지의 css 만들기-->
    <link rel="stylesheet" th:href="@{/css/board/details.css}" type="text/css">
</th:block>

<th:block layout:fragment="script"> <!--각 페이지의 js 만들기-->
    <script th:src="@{/js/board/board.js}"></script>

</th:block>

<div layout:fragment="content">  <!--각 페이지의 컨텐츠 만들기-->

    <div class="card" style="width:500px" th:object="${board}">
        <th:block sec:authorize="isAuthenticated()">
            <input type="hidden" id="memberId" th:value="${#authentication.principal.member.id}"/>
        </th:block>
        <input type="hidden" id="boardId" th:value="*{id}"/>
        <div class="d-flex justify-content-between">
            <p class="card-title" th:text="|글번호: *{id} writer: *{writer}|">writer</p>
            <th:block sec:authorize="isAuthenticated()">
                <div th:if="${#authentication.principal.member.id == board.writerId}" class="actions">
                    <button class="btn btn-secondary"
                            th:onclick="|location.href='@{/board/edit/{boardId}(boardId=${board.id})}'|">수정
                    </button>
                </div>
            </th:block>
        </div>

        <label for="title" th:for="title">Title</label>
        <input type="text" th:value="*{title}" class="form-control" placeholder="title" id="title" readonly>

        <div class="form-group">
            <label for="content" th:for="content">Content:</label>
            <textarea class="form-control" th:text="*{content}" rows="5" id="content"
                      readonly>content...</textarea>
        </div>
        <div class="container">
            <h6>replys</h6>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>name</th>
                    <th>reply</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reply : ${board.replys}">
                    <input type="hidden" id="replyId" th:value="${reply.replyAuthorId}"/>
                    <td th:text="${reply.replyAuthor}">John</td>
                    <td th:text="${reply.content}">Doe</td>
                    <td class="date" th:text="${#temporals.format(reply.createdTime, 'yyyy-MM-dd HH:mm')}">Doe</td>
                    <th:block sec:authorize="isAuthenticated()">
                        <td th:if="${#authentication.principal.member.id == reply.replyAuthorId}" class="actions">
                            <button id="btn-reply-delete"
                                    th:onclick="'index.replyDelete(' + ${board.id} + ', ' + ${reply.id} + ')'"
                                    class="delete-btn">Delete
                            </button>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
        <form class="form-inline justify-content-end mt-3">
            <label for="reply-content" class="mr-2"></label>
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="add reply..." id="reply-content">
            <button class="btn btn-primary btn-sm" id="btn-reply-save" type="button">댓글 달기</button>
        </form>
    </div>
</div> <!--각 페이지의 컨텐츠 만들기 끝-->
</html>