.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.pagination li.disabled a {
    pointer-events: none;
    background-color: #ddd;
    color: #777;
    border: 1px solid #ddd;
}