<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">


<th:block layout:fragment="css"> <!--각 페이지의 css 만들기-->
    <style>
        form{
            margin: 30px;
        }
    </style>
</th:block>

<th:block layout:fragment="script"> <!--각 페이지의 js 만들기-->
    <script th:src="@{/js/login/join.js}"></script>
</th:block>

<div layout:fragment="content">  <!--각 페이지의 컨텐츠 만들기-->

    <form>
        <div class="form-group">
            <label th:for="user_id" for="user_id">ID:</label>
            <input type="text" class="form-control" placeholder="Enter ID" th:field="*{id}" id="user_id">
            <div id="idChk"></div>
        </div>
        <div class="form-group">
            <label th:for="password" for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" th:field="*{password}"
                   id="password">
            <div id="pwChk"></div>
        </div>
        <div class="form-group">
            <label th:for="password_check" for="password_check">Password:</label>
            <input type="password" class="form-control" placeholder="password check" id="password_check">
            <div id="pwChk2"></div>
        </div>
        <div class="form-group">
            <label th:for="user_name" for="user_name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter name" th:field="*{name}" id="user_name">
            <div id="nameChk"></div>
        </div>
        <div class="form-group">
            <label th:for="email" for="email">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter email" th:field="*{email}" id="email">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>

        <button type="button" id="signup-btn" class="btn btn-primary">Submit</button>
    </form>

</div> <!--각 페이지의 컨텐츠 만들기 끝-->
</html>